@import "../abstracts/index.less";

body {
  background-color: @clr-black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.contact-link {
  padding-bottom: 0.65em;
  border-bottom: 0.15em solid @clr-green;
}
