@import "../abstracts/index.less";

@font-face {
  font-family: "Space Grotesk";
  font-weight: 500 700;
  src: url("/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}

:where(body) {
  font: 500 1.125rem/1.75rem "Space Grotesk", sans-serif;
  color: @clr-grey-light;
}

:where(h1, h2, h3, h4, h5, h6) {
  .bold;
  color: @clr-white;
}
