@keyframes showProjectLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes showProjectRight {
  0% {
    transform: translateX(100%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeContainer {
  0% {
    transform: translateY(4rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInH1Bottom {
  0% {
    transform: translateY(30rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInH1Left {
  0% {
    transform: translateX(-30rem);
  }
  100% {
    transform: translateX(0);
  }
}
