@import "../../../less/abstracts/index.less";

.skills {
  position: relative;
  .max-width-content;
  .padding-inline;

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: url("/assets/images/pattern-rings.svg") no-repeat;
    background-position: bottom right -22rem;
    transform: translate(0, 5rem);

    .mq(@bp-tablet, {
      background-position: bottom right;
      transform: translate(24rem, 1rem);
    });
  }

  &__exp {
    .mq(@bp-tablet, {
      margin-top: 0.88rem;
    });
  }

  &__list {
    display: grid;
    gap: 1.5rem 2rem;
    border-top: 0.0625rem solid @clr-white;
    border-bottom: 0.0625rem solid @clr-white;
    padding-block: 2.5rem;

    .mq(@bp-tablet, {
      gap: 3.62rem;
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
      padding-block: 3.25rem;
      border-bottom: none;
    });

    .mq(@bp-desktop, {
      padding-block: 4.5rem 3.4rem;
    });
  }

  &__item {
    opacity: 0;

    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(5) {
      clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
      .keyframes(revealAnimation, {
        0% {
          opacity: 0;
          clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
        }
        50% {
          clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
        }
        100% {
          opacity: 1;
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
      });

      &.visible {
        animation: revealAnimation 1.5s ease-in forwards;
      }
    }

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
      clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%);
      .keyframes(revealAnimationReverse, {
        0% {
          opacity: 0;
          clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%);
        }
        50% {
          clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
        }
        100% {
          opacity: 1;
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
      });

      &.visible {
        animation: revealAnimationReverse 1.5s ease-in forwards;
      }
    }
  }
}
