@import "../../../less/abstracts/index.less";

.skills {
  position: relative;
  .max-width-content;
  .padding-inline;

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: url("/assets/images/pattern-rings.svg") no-repeat;
    background-position: bottom right -22rem;
    transform: translate(0, 5rem);

    .mq(@bp-tablet, {
      background-position: bottom right -20rem;
      transform: translate(0, 1rem);
    });

    .mq(@bp-desktop, {
      background-position: bottom center;
      transform: translate(42rem, 1rem);
    });
  }

  &__exp {
    .mq(@bp-tablet, {
      margin-top: 0.88rem;
    });
  }

  &__list {
    display: grid;
    gap: 1.5rem 2rem;
    border-top: 0.0625rem solid @clr-white;
    border-bottom: 0.0625rem solid @clr-white;
    padding-block: 2.5rem;

    .mq(@bp-tablet, {
      gap: 3.62rem;
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
      padding-block: 3.25rem;
      border-bottom: none;
    });

    .mq(@bp-desktop, {
      padding-block: 4.5rem 3.4rem;
    });
  }
}
