@import "../../less/abstracts/index.less";

.header {
  position: relative;

  & .nav {
    .padding-inline;
    padding-top: 1.25rem;

    .mq(0 @bp-tablet, {
      position: absolute;
      width: 100%;
    });
  }
}
