@import "../../../../less/abstracts/index.less";

.form {
  &__label {
    position: relative;
  }

  &__input {
    width: 100%;
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 0.0625rem solid @clr-white;
  }
}
