@import "../../../less/abstracts/index.less";

.contact-bg {
  z-index: -1;
  background-color: @clr-grey-dark;
  .padding-inline;
}

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  .max-width-content;
  padding-block: 3.75rem;
  margin-top: 5rem;

  .mq(@bp-tablet, {
    margin-top: 6.25rem;
  });

  .mq(@bp-desktop, {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5rem;
    margin-top: 8.7rem;
    padding-top: 5.25rem;
  });

  &::after {
    content: "";
    z-index: 0;
    position: absolute;
    inset: 0;
    background: url("/assets/images/pattern-rings.svg") no-repeat;
    background-position: bottom 6rem left -22rem;

    .mq(@bp-tablet, {
      background-position: bottom 2rem left;
      transform: translate(-23rem, 0);
    });
  }

  &__header {
    max-width: 27.8rem;
  }

  &__desc {
    margin-top: 1.25rem;
  }
}

.form {
  z-index: 1;
  min-width: min(100%, 27.8rem);
  display: grid;
  gap: 2rem;

  &__button {
    justify-self: flex-end;
  }
}
